on:
  push:
    branches: [ "main", "dev" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.vars.outputs.tag }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: |
          chmod +x gradlew
          ./gradlew clean build

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set image tag
        id: vars
        run: echo "tag=${GITHUB_SHA}" >> $GITHUB_OUTPUT

      - name: Build & Push image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/store-group:${{ steps.vars.outputs.tag }} \
                       -t ${{ secrets.DOCKERHUB_USERNAME }}/store-group:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/store-group:${{ steps.vars.outputs.tag }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/store-group:latest
  deploy-dev:
    if: github.ref == 'refs/heads/dev'
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create dev config from secrets
        run: |
          mkdir -p config
          printf "%s" "${{ secrets.ONKU_APP_DEV_YML }}" > config/application-dev.yml
          chmod 600 config/application-dev.yml

      - name: Upload files to DEV EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.DEV_EC2_HOST }}
          username: ${{ secrets.DEV_EC2_USER }}
          key: ${{ secrets.DEV_EC2_SSH_KEY }}
          source: ./config/application-dev.yml,./docker-compose.yml
          target: /home/ubuntu/deploy/

      - name: Remote deploy (DEV)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEV_EC2_HOST }}
          username: ${{ secrets.DEV_EC2_USER }}
          port: ${{ secrets.DEV_EC2_PORT }}
          script: |
            export DOCKER_CONTAINER_REGISTRY=${{ secrets.DOCKERHUB_USERNAME }}
            export GITHUB_SHA=${{ github.sha }}
            sudo chmod +x ./deploy/deploy.sh
            ./deploy/deploy.sh
            chmod 600 ./deploy/deploy.sh